<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.wp.model.dao.QuizRoomDao">

	<select id="select" resultType="QuizRoom">
		SELECT id,
			   user_id,
			   title,
			   created_time,
			   room_code,
			   state,
			   level,
			   description,
			   solved_cnt,
			   `like`
		FROM QuizRoom
		WHERE id = #{id}
	</select>
	
	<select id="selectAllByUserId" resultType="QuizRoom">
		SELECT id,
			   user_id,
			   title,
			   created_time,
			   room_code,
			   state,
			   level,
			   description,
			   solved_cnt,
			   `like`
		FROM QuizRoom
		WHERE user_id = #{userId}
		ORDER BY created_time DESC
	</select>

</mapper>